/* Header */
.TopHeadBar {
    height: 40px;
    padding: 4px;
    color: #d10000;
    background: #fff;
    font-size: 14px;
    font-weight: 500;
}
.searchbar {
    border: 1px solid;
    border-radius: 5px;
    padding: 3px 20px;
}
.search_input{
    border: 0px;
    min-width: 450px;
}
.search_input:focus-visible {
    outline: white;
}

.search_icon{
    float: right;
    color: #d10000;
}
.mobileCart{
    color: #d10000;
    text-decoration: none;
    padding-left: 10px;
}
.mobileCart:hover{
    color: #d10000;
}
.mobileCart i{
    color: #d10000;
}
/* a.mobileCart {
    color: #d10000;
    text-decoration: none;
} */
i.fas.fa-heart{
    color: #d10000;
}
#logIn{
    padding-top: 5px;
}
#logIn a{
    text-decoration: none;
    color: #d10000;
}
nav.navbar {
    background: linear-gradient(180deg , #d10000 85%, #fff0 18px);
}
    /* Logo */
        .logo {
            border: 3px solid #d10000;
            border-radius: 80px;
            width: 95px;
            height: 90px;
            background-color: #fff;
            /* position: absolute; */
            overflow: hidden;
            /* margin: 7px; */
        }
    /* Logo */
    /* for Navbar DropDown Arrow */
        .dropdown-toggle::after {
            content: none !important;
        }
    /* for Navbar DropDown Arrow */
    /* Menu Part */
    .mainItem {
        color: #fff !important;
        border: 0px;
        margin-left: 20px;
        font-weight: 600;
        font-size: .9em;
        border-top: 3px solid transparent;
        background: #d10000;
        font-family: "Lato", sans-serif;
    }
    .mainItem:hover{
        border-top: 3px solid green;
    }
    /* Menu Part */

        /* Add to card Basket */
            .fa-shopping-cart{
                color: #fff;
                position: relative;
            }
            
            .num-cart-product{
                position: absolute;
                border: 1px solid #d10000;
                top: -12px;
                right: -17px;
                width: 20px;
                height: 20px;
                font-size: 0.8rem;
                border-radius: 50%;
                background-color: #fff;
                color: #d10000;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 400;
            }
        /* Add to card Basket */
/* Header */
/* Main Slider */
    #mainSLider{
        background-image: url("images/mani-page-bg/lined-paper-2.png");
        padding-top: 130px;
    }
/* Main Slider */
/* Section-Banner */
    #Banner{
        background: #d10000;
    }
    #Banner p {
        color: #fff;
        margin: 15px;
        text-align: center;
        display: contents;
    }
    .bannerImage{
        padding: 6px;
        text-align: center;
    }
    .bannerImage >img{
        width: 50px;
    }
/* Section-Banner */
/*  Section Background-Image  */
    #bgImage {
        min-height: 260px;
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(images/Banner-icons/bg-image.jpg);
    }
    .bgLogo{
        text-align: center;
    }
    .bgLogo >img{
        width: 160px;
        height: 160px;
    }
/*  Section Background-Image  */
/* Section Best Seller */
    #ourRecommend,
    #bestSeller{
        background-color: #F3F3F3;
    }
    #ourRecommend h3,
    #bestSeller h3{
        color: #D10000;
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        padding: 20px;
    }
    #recommend,
    #productSlider{
        margin: 0px auto;
        width: 90%;
    }
    /* Single Product */
    
    .single {
        padding: 0px;
        margin: 0 auto;
        width: 70%;
        background: #fff;
        box-shadow: 0 1px 3px -2px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
        text-align: center;
        font-weight: bold;
        border-radius: 15px;
    }
        .single:hover{
            box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 22%);
        }
        .productBtn {
            list-style: none;
            padding: 0px;
            margin: 0px;
            position: absolute;
            right: 20px;
        }
        .productBtn li button {
            border: 0px;
            padding-top: 15px;
            background-color: #fff;
        }
        .productCategory a{
            color: #d10000;
            text-decoration: none;
        }
        .productCategory a:hover,
        .productName a,
        .productName a:hover{
            color: #d10000;
            text-decoration: none;
        }
        .productPrice{
            color:green;
            padding-bottom: 20px;
        }
        .singleProduct {
            display: flex;
            width: 90%;
            align-items: center;
            position: relative;
            margin: 0px auto;
        }
        .singleProduct img{
            width: 40% !important;
        }
            /* Single-Product-icons-Btn */
                #viewProduct{
                    color: #d10000;
                }
                #viewProduct:hover{
                    color: #dc9a0e;
                }
                .btn{
                    border: 1px solid #fff !important;
                    background: #fff !important;
                }
            /* Single-Product-icons-Btn */       
    /* Single Product */
    /* Best Seller Slider button */
        /* #productSlider .owl-prev span{
            font-size: 40px;
            padding: 10px;
            color: #fff;
            line-height: 2.5;
            background: #d10000;
            margin: 10px;
            position: absolute;
            top: -10px;
        }
        #productSlider .owl-next span {
            font-size: 40px;
            padding: 10px;
            color: #fff;
            line-height: 2.5;
            background: #d10000;
            margin: 10px;
            position: absolute;
            top: -10px;
            right: 0px;
        }
        #productSlider .owl-prev span:hover,
        #productSlider .owl-next span:hover {
            color: #d10000;
            background-color: #fff;
            border: 1px solid;
            padding: 9px;
        } */
    /* Best Seller Slider button */
/* Section Best Seller */
/* Section Call to action */
    #callToaction {
        background: #d10000;
        padding: 65px;
    }
    .callout-bubble {
        padding: 30px;
        color: #fff;
        background-color: #A94545;
    }
    #callToaction h1,#callToaction p{
        color: #fff;
    }
    .callout:hover {
        transform: scale(1.1);
        transition: transform 1s;
        transition-duration: 1000ms;
    }
    .callout button {
        color: #d10000;
        font-size: 20px;
        padding: 10px;
        border: 0;
    }
/* Section Call to action */
/* Section three Pictures */
    #threePics{
        background-image: url("images/mani-page-bg/lined-paper-2.png");
    }
    .outline {
        border: 1px solid #fff;
        border-radius: 20px;
        /* width: 90%; */
        overflow: hidden;
        /* margin: auto; */
    }
    .outline2 {
        background-color: rgba(0,0,0,0.9);
        overflow: hidden;
    }
    .outline img:hover{
        opacity: 0.2;
    }
    .outline2 :hover{
        transform: scale(1.1);
        transition: transform 1s;
        transition-duration: 1500ms;

    }
    .picText {
        background: #d10000;
        text-align: center;
        font-size: 18px;
    }
    .picText p {
        padding: 33px;
        margin: 0px;
        color: #fff;
        font-weight: 500;
    }
/* Section three Pictures  */
/* Double-Banner */
    #DoubleBanner{
        padding: 20px;
    }
    /* doubleBanImg */
        .doubleImg {
            overflow: hidden;
            height: 30vh;
        }
        .doubleImg img {
            width: 635px;
        }
    /* doubleBanImg */
    .ribbon{
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        transform: rotate(0);
        position: relative;
        left: 0;
        width: 200px;
        right: auto;
        top: 15px;
    }
    .ribbon p{
        background-color: #FAEBEB;
        color: #D10000;
        transform: translateY(100%) translateX(-50%) translateX(40px) rotate(45deg);
        font-weight: 500;
        box-shadow: inset 25px 0px 10px 5px rgb(0 0 0 / 50%);
    }

    .double{
        overflow: hidden;
        text-align: center;
        height: 30vh;
        background:#d10000;
    }
    .double-callout{
        padding-top: 75px;
    }
    .doubleImg :hover,
    .double-callout:hover {
        transform: scale(0.9);
        transition: transform 1s;
        transition-duration: 1000ms;
        -webkit-transform: scale(1.1);
    }
    .double-callout h3{
        color: #fff;

        /* margin: 12px; */
    }
    .double-callout p {
        font-size: 15px;
        margin: 0px;
        line-height: 40px;
    }
    .double-callout button {
        color: #d10000;
        font-size: 18px;
        font-weight: 500;
        padding: 5px;
        border: 0;
    }
/* Double-Banner */
/* Section Message in bottle */
    #messageBottle {
        padding: 30px;
    }
    #messageBottle h3{
        color: #D10000;
        font-size: 35px;
        font-weight: bold;
        text-align: center;
        padding: 20px;
    }
    .icon {
        text-align: center;
        color: #d10000;
        border: 1px solid;
        padding: 40px;
        line-height: 40px;
    }
    .icon:hover {
        transform: scale(0.4);
        transition: transform 1s;
        transition-duration: 1500ms;
        -webkit-transform: scale(1.05);
    }
/* Section Message in bottle */
 /* Brands Section */
    #footerBrands {
        padding-top: 60px;
        text-align: center;
    }
    .lastIcons {
        width: 100px;
        height: 100px;
        border: 1px solid #d10000;
        border-radius: 50px;
        text-align: center;
        margin: 0px auto;
        /* padding: 25px; */
        padding-top: 25px;
    }
    .lastIcons i{
        color: #d10000;
    }
/* Brands Section */
/* Main Footer */
    /* MAIN FOOTER */
    #MainFooter{
        background-color: #d10000;
    }
    ul.footermenu {
        padding-top: 10px;
        color: #d66666;
    }

    .footermenu li {
        list-style: none;
        display: inline;
        font-size: 12px;
        font-weight: 700;
        padding: 0px 10px;
    }
    .footermenu li a{
        color: #d66666;
        text-decoration: none;
    }
    .footermenu li a:hover{
        color: #fff;
    }
    ul.paymentIconList {
        display: inline-flex;
        padding: 20px;
        list-style: none;
        margin: auto;
    }
    .paymentIcon {
        display: inline-block;
        padding-left: 20px;
    }
        .paymentIcon img{
            max-width: 50px;
        }
    /* MAIN FOOTER */
   
/* End Footer */
#endFooter {
    text-align: left;
    padding-left: 18px;
    background: #d10000;
    color: #d66666;
}
/* End Footer */





/* MoDel View Add To Cart Page Modal */
    .RightSideBar{
        border-bottom: 1px solid #d4d4d4;
        padding-bottom: 15px;
    }
    .RSideProductPrice {
        text-decoration: none;
        color: #d10000;
    }
    .RSideProductName {
        text-decoration: none;
        color: #d10000;
        /* margin: 40px; */
        font-size: large;
        font-weight: 500;
    }
    .RSideProductPrice:hover,
    .RSideProductName:hover{
        color: #32CC34;
    }
    .AddcartPrice{
        padding: 15px;
        color: #d10000;
    }
        /*In Modal Subtotal Part Section */
            .SubTotal {
                color: #d10000;
                padding: 25px;
                border-bottom: 1px solid #d4d4d4;
            }
            .bottomTwoBtn{
                padding: 25px;
                border-bottom: 1px solid #d4d4d4;
            }
        /*In Modal Subtotal Part Section */
        /* In Modal Bottom Button Part Section */
        .BottomBtnOne {
            color: #fff;
            background: #d10000;
            border: 0px;
            padding: 20px;
            font-size: 14px;
        }
        .BottomBtnTwo {
            color: #fff;
            background: #d10000;
            border: 0px;
            padding: 20px;
            font-size: 14px;
        }
            .addToCartText {
                text-align: justify;
                padding-top: 20px;
                color: #d10000;
                font-size: 15px;
                font-weight: 500;
            }
        /* In Modal Bottom Button Part Section */

    /* Main Page Modals */
        /* QuickView Modal Css */
            .rightSide h2 a,
            .rightSide p a{
                color: #d10000 !important;
                text-decoration: none;
            }
            .rightSide h2 a:hover,
            .rightSide p a:hover{
                text-decoration: none;
            }
            /* modal increment button */
                .plusminus {
                    width: 140px;
                    display: flex;
                    margin: 0px 0px 0px 34px !important;
                }
                .input-group-prepend button,
                .input-group-append button {
                    background-color: #d10000 !important;
                    color: #fff;
                    font-size: 16px !important;
                    border-radius: 0;
                    min-width: 0px!important;
                    width: 26px !important;
                    height: 26px !important;
                    padding: 0;
                }
                .plusminus input.form-control {
                    margin: 0px 5px 0px 5px !important;
                    padding: 0px;
                }
                button.cartBasket {
                    background-color: #d10000;
                    border: 0;
                    margin-left: 8px;
                }
                button.close {
                    border: 0;
                    background: #fff;
                    font-size: 28px;
                }
            /* modal increment button */
            
        /* QuickView Modal Css */
        /* WishLsit Modal Css */
            .ViewBasketButton,
            .ViewWishlistButton{
                color: #fff;
                background: #d10000;
                border: 0px;
                border-radius: 5px;
                padding: 10px;
            }
        /* WishLsit Modal Css */
        /* CompareModal Css */
            .TableRow{
                border: 1px solid #d10000;
            }
            .TableHeading{
                padding: 10px 10px ;
            }
            .TableData a{
                color: #d10000;
            }
            .TableData a:hover{
                color: #000;
                text-decoration: none;
            }
            .TableDataImage{
                text-align: center;
                border: 1px solid;
            }
            .TableDataImage img{
                width: 50px;

            }
            .TableData{
                border: 1px solid black;
                padding: 10px 10px ;
                text-align: center;
            }
        /* CompareModal Css */
    /* Main Page Modals */
/* MoDel View Add To Cart Page Modal */

/* Menu Hover Media Query */
    @media all and (min-width: 992px) {
        .navbar .nav-item .dropdown-menu{ display: none; }
        /* .navbar .nav-item:hover .nav-link{   } */
        .navbar .nav-item:hover .dropdown-menu{ display: block; }
        .navbar .nav-item .dropdown-menu{ margin-top:0; }
    }
/* Menu Hover Media Query */

/* Media Query */
@media only screen and (max-width:520px){
    /* Header media */
        nav.navbar {
            background: linear-gradient(180deg , #d10000 100%, #fff0 0px);
        }
        .navbar-toggler:focus{
            box-shadow: 0 0 0 0 !important;
        }
        button.mainItem {
            text-align: left;
            width: -webkit-fill-available;
        }
        .mainItem {
            color: #fff !important;
            border: 0px;
            margin-left: 0;
            border-top: 3px solid transparent;
            background: #d10000;
        }
    /* Header media */
    /* Banner Section media*/
        #Banner img{
            width: 40px;
        }
        #Banner p {
            display: inline-block;
            font-size: 15px;
            margin: 0px;
        }
    /* Banner Section media*/
    /* Call To Action */
        #callToaction h1, #callToaction p {
            color: #fff;
            padding: 15px;
        }
    /* Call To Action */
    /* Double-Banner */
        .doubleImg {
            overflow: hidden;
            height: 30vh;
            margin: 13px 0px;
        }
        .doubleImg img{
            width: 488px;
        }
    /* Double-Banner */
    /* message in Bottle section media */
        .icon {
            margin: 15px;
        }
    /* message in Bottle section media */
    




}
/* Media Query */