  /* Catalog Page CSS */
  #catalogContent{
      padding-top: 140px;
    background-image: url("images/mani-page-bg/lined-paper-2.png");
}
#catalogContent H1{
    color: #d10000;
}
#catalogContent img{
    width: 100%;
}
/* Catalog Button */
    #catalog-PriceButton{
        background-color: #d10000!important;
        color: #fff;
        border: 3px solid #FEB507!important;
        margin-bottom: 20px;
        line-height: 2;
    }
    .juiceGlass {
        float: left;
        margin: 15px 0 0 0;
    }
/* Catalog Button */

/* Catalog Page CSS */

@media only screen and (min-width: 1200px){
    .TopHeadBar {
        font-size: 12px;
    }
    .mainItem {
        margin-left: 0%;
        font-size: 13px;
    }
    .search_input {
        min-width: 330px;
    }
}