#condition{
    margin-top: 160px;
}
#condition h4{
    color: #d10000;
    margin-top: 12px;
}
.TermsList {
    list-style: none;
    color: #777;
    margin: 25px 0px 40px 0px;
    line-height: 25px;
    text-align: justify;
    padding: 25px;
}