  /* Log IN Css */
  #loginContent{
    margin-top: 180px;
    background-image: url("images/mani-page-bg/lined-paper-2.png");
}
#formPart{
    background-image: url("images/mani-page-bg/lined-paper-2.png");
}
.joinBtn {
    padding: 12px 25px;
    background-color: #d10000 !important;
    border: 0;
    font-size: 17px;
}
#formOutside {
    width: 80%;
    margin: 0px auto;
    border: 1px solid #dee0e9;
    padding: 40px 20px;
    margin-bottom: 30px;
}
.star{
    color: #d10000;
}
/* Log In Form Button */
    .formSubmit {
        float: right;
        background: #d10000!important;
    }
/* Log In Form Button */
    .lostPassword,.lostPassword:hover{
        color: #d10000;
        text-decoration: none;
    }
/* Log IN Css */

@media only screen and (min-width: 992px){
    .TopHeadBar {
        font-size: 12px;
    }
    .mainItem {
        margin-left: 0%;
        font-size: 13px;
    }
    .search_input {
        min-width: 330px;
    }
}