
#productpriceTable{
    padding-top: 180px;
}

.downloadpdf{
    float: right;
    text-decoration: none;
    color: #d10000;
    border-radius: 12px;
    border: 1px solid #d10000;
    padding: 10px;
    font-weight: 500;
}
.downloadpdf:hover{
    color: #37c837 !important;
    border: 1px solid #37c837 !important;
}
#priceSheet {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
}
.priceSheetHeading {
    color: #fff;
    font-size: 15px;
    padding: 17px !important;
    background-color: #d10000 !important;
    font-weight: 700;
}
.skuNUM,
.DepostPrice{
    font-size: 15px;
    font-weight: 400;
    color: #d10000;
}
.ProductName{
    font-size: 15px;
    font-weight: bold;

}
.ProductPrice{
    font-size: 15px;
    font-weight: 700;
    color: #d10000;
}

@media only screen and (min-width: 1200px){
    .TopHeadBar {
        font-size: 12px;
    }
    .mainItem {
        margin-left: 0%;
        font-size: 13px;
    }
    .search_input {
        min-width: 330px;
    }
}