/* Main Cart Section Css */
    /* 
     */
    .mainAddCart{
        padding-top: 100px;
        background-image: url('images/mani-page-bg/lined-paper-2.png');
    }


    .CartLeftSide{
        border: 1px solid #dddddd;
        padding: 20px;
    }
    .CartImage{
        width: 50px;
    }
   
    #viewCartTable thead tr th{
        text-align: center;
    }
    #viewCartTable table tbody th, td{
        text-align: center;
        font-size: 13px;
    }
    .articlenumber{
        font-size: 10px;
        color: #d10000;
    }

    .ProcedCheckOut {
        color: #fff;
        padding: 15px 59px;
        font-size: 15px;
        border: 0px;
        background-color: #d10000;
        margin: 12px 0px 13px;
    }
/*
    .cartBasket,
    input.decrementBtn,
    input.incrementBtn{
        background: #d10000;
        color: #fff;
        border: 0px; 
    }*/
/* CartLeftSide */
/* CartRightSide */
    .CartRightOutline {
        border: 1px solid #dddddd;
        padding: 15px;
    }
    .Cart{
        padding-right: 100px;
        padding-bottom: 10px;
    }
    .CartRightOutline table tbody tr td{
        font-size: 15px;
        text-align: start;
    }
    .BottomCartText p {
        color: #d10000;
        font-size: 15px;
        font-weight: 500;
        line-height: 25px;
    }
/* CartRightSide */
/* Main Cart Section Css */

@media only screen and (min-width: 992px){
    .TopHeadBar {
        font-size: 12px;
    }
    .mainItem {
        margin-left: 0%;
        font-size: 13px;
    }
    .search_input {
        min-width: 330px;
    }
}