  
    /* WishList page Css */
    #wishListMain {
        padding-top: 110px;
        background-image: url(images/mani-page-bg/lined-paper-2.png);
    }
    #wishListMain h1 {
        color: #d10000;
        font-weight: normal;
        margin-bottom: 35px;
    }

    /* Main Cart Section Css */
    /* CartLeftSide */
    .mainAddCart{
        padding-top: 50px;
        background-image: url('images/mani-page-bg/lined-paper-2.png');
    }

    .CartLeftSide{
        border: 1px solid #dddddd;
        padding: 40px;
    }
    .CartImage{
        width: 50px;
    }
    .CartLeftSide table tbody th,td {
        padding: 0px 40px;
        text-align: center !important;
    }

    .ProcedCheckOut {
        color: #fff;
        padding: 15px 78px;
        border: 0px;
        background-color: #d10000;
        margin: 12px 0px 13px;
    }
    .articlenumber{
        font-size: 10px;
        color: #d10000;
    }
    .cartBasket,
    input.decrementBtn,
    input.incrementBtn{
        background: #d10000;
        color: #fff;
        border: 0px;
    }
/* CartLeftSide */

/* Main Cart Section Css */
/* WishList page Css */


@media only screen and (min-width: 992px){
    .TopHeadBar {
        font-size: 12px;
    }
    .mainItem {
        margin-left: 0%;
        font-size: 13px;
    }
    .search_input {
        min-width: 330px;
    }
}